<app-navbar></app-navbar>
<div class="grid section1 ">
    <div class="col-12 md:col-6 lg:col-6  md:pl-8" >
        <div class="content-group">
            <h1 class="title lg:text-6xl fadein animation-duration-1000 animation-iteration text-center md:text-left">
                Signez vos documents où que vous soyez
            </h1>
            <div class="content">
                <p class="text-500 text-center md:text-left md:pr-8">
                    NGSign offre un moyen simple et rapide de signer 
                    et faire signer électroniquement vos documents à 
                    travers une application moderne et une API 
                    universelle.
                </p>
                <i class="pi pi-chevron-circle-right hover:text-cyan-500 flex justify-content-start flex-wrap my-6 cursor-pointer">
                    <div class="text ">
                        Essayez nos démos
                    </div>
                </i>
                <div class="buttons flex justify-content-start flex-wrap">
                    <div class="transition-colors transition-duration-500 bg-yellow-500 hover:bg-blue-500 text-gray-900 hover:text-white
                    flex align-items-center justify-content-center font-bold border-round cursor-pointer col-12 md:col-6 lg:col-3 h-4rem">Commencer</div>
                    
                    <div class="transition-colors transition-duration-300 text-cyan-500 hover:text-yellow-500
                    flex align-items-center justify-content-center cursor-pointer col-12 md:col-6 lg:col-3">En savoir plus<i class="pi pi-arrow-right pl-2 pt-1"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6 background background1"></div>
</div>
<div class="grid section2">
    <div class="col-12 md:col-6 lg:col-6 background background2"></div>
    <div class="col-12 md:col-6 lg:col-6 md:pl-8 ">
        <div class="grid content-group">
            <div class="col-12 md:col-6 lg:col-2 text-cyan-500 text-center font-medium">
                Cadre Légal 
            </div>
            <div class="col-12 md:col-6 lg:col-10">
                <hr class=""width="50px" align="left" size="6px">
            </div>
            <h1 class="title lg:text-4xl fadein animation-duration-1000 animation-iteration text-center md:text-left col-12">
                Conforme aux normes internationales
            </h1>
            <p class="text-500 text-center md:text-left line-height-4 col-12">
                Nos solutions respectent les normes internationales<br>
                 de signature électronique. NGSign est certifiée eIDAS<br>
                  et conforme aux normes ETSIw<br>
            </p>
            <p class="text-500 text-center md:text-left line-height-4 col-12">
                <i class="pi pi-check"></i>Signature électronique à valeur probante<br>
                <i class="pi pi-check"></i>Même valeur que la signature manuscrite<br>
                <i class="pi pi-check"></i>Sécurité renforcée (intégrité, authenticité et non-répudiation)<br>
            </p>
            
        </div>
        <div class="buttons flex justify-content-start flex-wrap">
            <div class="transition-colors transition-duration-500 bg-yellow-500 hover:bg-blue-500 text-gray-900 hover:text-white
            flex align-items-center justify-content-center font-bold border-round cursor-pointer col-12 md:col-6 lg:col-3 h-4rem">Commencer</div>
            
            <div class="transition-colors transition-duration-300 text-cyan-500 hover:text-yellow-500
            flex align-items-center justify-content-center cursor-pointer col-12 md:col-6 lg:col-3">En savoir plus<i class="pi pi-arrow-right pl-2 pt-1"></i></div>
        </div>
    </div>
</div>
<div class="grid section3 px-8">
    <div class="col-12 md:col-2 lg:col-1 text-cyan-500 text-center md:text-left font-medium" >
        Services 
    </div>
    <div class="col-12 md:col-10 lg:col-11">
        <hr width="200px" align="left" size="6px">
    </div>
    <h1 class="title lg:text-4xl text-center md:text-left pl-0 md:pl-5 mr-6 col-12 md:col-12 lg:col-12">
        Des solutions de confiance électronique qui s'adaptent à vos besoins et vos contraintes
    </h1>
    <div class="col-12 md:col-4 lg:col-4">
        <div class="icon icon1"></div>
        <h6 class="text-2xl text-center  col-12 md:col-12 lg:col-12 font-medium">
            Cloud
        </h6>
        <p class="text-500 text-center">
            Utilisez nos services de signature<br> électronique sur notre Cloud privé et<br> sécurisé sans aucune installation<br> requise.
        </p>
    </div>
    <div class="col-12 md:col-4 lg:col-4 ">
        <div class="icon icon2"></div>
        <h6 class="text-2xl text-center col-12 md:col-12 lg:col-12 font-medium">
            Serveur
        </h6>
        <p class="text-500 text-center">
            Installez nos solutions de signature<br> électronique dans vos locaux et<br> ayez le contrôle total de votre<br> Data.
        </p>
    </div>
    <div class="col-12 md:col-4 lg:col-4 pr-0">
        <div class="icon icon3"></div>
        <h6 class="text-2xl text-center col-12 md:col-12 lg:col-12 font-medium ">
            Cloud Hybride
        </h6>
        <p class="text-500 text-center">
            Profitez de nos services de signature<br> électronique Cloud tout en gardant le<br> contrôle total de votre Data.
        </p>
    </div>
</div>
<div class="grid section4 px-8">
    <div class="col-12 md:col-2 lg:col-1 text-cyan-500 text-center md:text-left font-medium" >
        Tarifs 
    </div>
    <div class="col-12 md:col-10 lg:col-11">
        <hr width="200px" align="left" size="6px">
    </div>
    <h1 class="title lg:text-4xl text-center md:text-left pl-0 md:pl-5 mr-6 col-12 md:col-12 lg:col-12">
        Payez uniquement ce que vous consommez
    </h1>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-2 border-1 border-300">
       <h1 class="text-center text-800">TND 10</h1>
       <p class="text-500 text-center">
        Pack de 10 Jetons de<br> signatures électronique​
        </p>
        <h3 class="text-center text-800">PACK 10</h3>
        <div class="transition-colors transition-duration-500 bg-yellow-500 hover:bg-blue-500 text-gray-900 hover:text-white
            flex align-items-center justify-content-center font-bold border-round cursor-pointer mx-auto my-0 col-10 h-4rem">Commencer</div>
    </div>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-2 border-1 border-300">
       <h1 class="text-center text-800">TND 17</h1>
       <p class="text-500 text-center">
        Pack de 20 Jetons de<br> signatures électronique​
        </p>
        <h3 class="text-center text-800">PACK 20</h3>
        <div class="transition-colors transition-duration-500 bg-yellow-500 hover:bg-blue-500 text-gray-900 hover:text-white
            flex align-items-center justify-content-center font-bold border-round cursor-pointer mx-auto my-0 col-10 h-4rem">Commencer</div>
    </div>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-2 border-1 border-300">
       <h1 class="text-center text-800">TND 75</h1>
       <p class="text-500 text-center">
        Pack de 30 Jetons de<br> signatures électronique​
        </p>
        <h3 class="text-center text-800">PACK 30</h3>
        <div class="transition-colors transition-duration-500 bg-yellow-500 hover:bg-blue-500 text-gray-900 hover:text-white
            flex align-items-center justify-content-center font-bold border-round cursor-pointer mx-auto my-0 col-10 h-4rem">Commencer</div>
    </div>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-2 border-1 border-300">
       <h1 class="text-center text-800">TND 555</h1>
       <p class="text-500 text-center">
        Pack de 40 Jetons de<br> signatures électronique​
        </p>
        <h3 class="text-center text-800">PACK 40</h3>
        <div class="transition-colors transition-duration-500 bg-yellow-500 hover:bg-blue-500 text-gray-900 hover:text-white
            flex align-items-center justify-content-center font-bold border-round cursor-pointer mx-auto my-0 col-10 h-4rem">Commencer
        </div>
    </div>
    <div class="transition-colors transition-duration-300 text-cyan-500 hover:text-yellow-500
            flex align-items-center justify-content-center cursor-pointer col-12 mt-4">En savoir plus
            <i class="pi pi-arrow-right pl-2 pt-1"></i>
    </div>
    <hr width="100%" class="bg-gray-50 mt-4" size="1">
</div>
<div class="section5 grid px-8 mt-4">
    <div class="col-12 md:col-3 lg:col-3 text-cyan-500 text-center md:text-left font-medium" >
        Qui sommes-nous ?    
    </div>
    <div class="col-12 md:col-9 lg:col-9">
        <hr width="100px" align="left" size="6px">
    </div>
    <h1 class="title lg:text-4xl text-center md:text-left pl-0 md:pl-5 col-12 md:col-6 lg:col-6">
        Des solutions de confiance électronique qui s'adaptent à vos besoins et vos contraintes
    </h1>
    <p class="text-500 text-1xl text-center md:text-left pt-3 pl-0 md:pl-8 line-height-4 col-12 md:col-6 lg:col-6">
        Spécialiste de la signature électronique et les infrastructures à<br>
        clé publique (PKI) et l’éditeur de la première plateforme web de<br>
        signature électronique en Afrique.
    </p>
</div>
<div class="section6 grid px-8 mt-4 ">
    <div class="col-12 md:col-3 lg:col-3 py-4 px-8 ">
        <p class="text-700 text-1xl text-center md:text-left line-height-4">
        Solution<br>homologuée
        </p>
        <h1 class="text-800 text-2xl text-center md:text-left">2016</h1>
     </div>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-8 ">
        <p class="text-700 text-1xl text-center md:text-left line-height-4">
        Plateforme de<br>signature en ligne
        </p>
        <h1 class="text-800 text-2xl text-center md:text-left">2017</h1>
     </div>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-8 ">
        <p class="text-700 text-1xl text-center md:text-left line-height-4">
        Certification<br>eIDAS
        </p>
        <h1 class="text-800 text-2xl text-center md:text-left">2021</h1>
     </div>
    <div class="col-12 md:col-3 lg:col-3 py-4 px-8 ">
        <p class="text-700 text-1xl text-center md:text-left line-height-4">
            Autorité de certification<br>qualifiée
        </p>
        <h1 class="text-800 text-2xl text-center bg-blue-500 text-white">Soon</h1>
     </div>
</div>
<div class="section7 grid px-8 mt-4">
    <div class="col-12 md:col-3 lg:col-3 py-1 border-1 border-300 hover:border-primary">
        <h1 class="text-800 text-7xl lg:text-7xl md:text-4xl text-center">14.842</h1>
        <p class="text-700 text-2xl text-center line-height-2">
            Signatures
            <br>électroniques
        </p>
     </div>
    <div class="col-12 md:col-3 lg:col-3 py-1 widget-client1 hover:border-primary" >
        <h1 class="text-800 text-7xl lg:text-7xl md:text-4xl text-center">1.700</h1>
        <p class="text-700 text-2xl text-center line-height-2">
            Clients
            <br>Saas.
        </p>
     </div>
     <div class="col-12 md:col-3 lg:col-3 py-1 border-1 border-300 hover:border-pink-500">
        <h1 class="text-800 text-7xl lg:text-7xl md:text-4xl text-center">15+</h1>
        <p class="text-700 text-2xl text-center line-height-2">
            Clients
            <br>eGov.
        </p>
     </div>
     <div class="col-12 md:col-3 lg:col-3 py-1 widget-client2 hover:border-yellow-500" >
        <h1 class="text-800 text-7xl lg:text-7xl md:text-4xl text-center">1.700</h1>
        <p class="text-700 text-2xl text-center line-height-2">
            Clients
            <br>Saas.
        </p>
     </div>
</div>
<div class="section8 grid px-8 mt-8 ">
    <div class="title col-12 text-center text-6xl text-gray-800">
        Ce que nos clients disent de nous...
    </div>
    <div class="text col-12 text-center text-1xl text-500">
        Nous nous inspirons de nos clients pour offrir une meilleur expérience utilisateur…
    </div>
    <fieldset class="mt-6 px-6 py-4 ">
        <legend ><img src="../../../assets/photos/kutps.png" alt="a" ></legend>
        <div class="col-12 text-3xl text-gray-800 text-center md:text-left">
            "Signer n'est plus un fardeau."
        </div>
        <div class="col-12 text-1xl text-center md:text-left text-500 line-height-4">
            Aujourd’hui, avec la signature électronique, nos clients reçoivent par e-mail les invitations à 
            la signature électronique de leurs contrats à travers la plateforme NGSIGN. 
            La signature se fait en quelque clics, et surtout, à distance ! 
        </div>
        <div class="grid pt-6">
            <div class="col-12 md:col-6 lg:col-2 " style="display: flex;align-items: center; align-content: center;">
                <img src="../../../assets/photos/marwen-amamou-transparent.png" alt="a" height="80px">
            </div>
            <div class="col-12 md:col-6 lg:col-10">
                <div class="text-800 font-medium text-center md:text-left">
                    Marwen Amamou
                </div>
                <div class="text-500 font-small text-center md:text-left">
                    CEO, Paymee
                </div>
            </div>
        </div>
        
       </fieldset>
</div>